@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.title {
    font-family: 'Lobster', cursive!important;
    font-weight: bold!important;
    text-transform: capitalize;
  }
